@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Monaco, 'bitstream vera sans mono', 'lucida console', Terminal, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  background-color: #282c34;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}